.xAxis {
    font: 20px sans-serif;
}

.yAxis {
     font: 20px sans-serif;
 }

.xLabel {
    font: 27px sans-serif;
}

.yLabel {
    font: 27px sans-serif;
}

.buttonLabel{
    pointer-events: none;
}

.legendCircle10{
    transform: translate(0px, -55px);
    font: 25px sans-serif;
}

.legendCircle20{
    transform: translate(0px, -20px);
    font: 25px sans-serif;
}
.legendCircle30{
    font: 25px sans-serif;
}
.legendCircle40{
    font: 25px sans-serif;
}
